<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>App</title>
  <style>
    body{
        background-color: black;
        color: whitesmoke;
        font-size: x-large;
        text-align: center;
        }
    ul {
        padding: 20px;
    }
    ul:hover{
        color: yellowgreen;
        font-family: monospace;
        background-color: rgb(231, 147, 20);
    }
  </style>
</head>

<body>
 <ul>
     <li>
         {{ message }}
     </li>   
 </ul> 
</body>

</html>